#include "ide_ids.h"
#include <Windows.h>

ClipsEditMenu MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N", IDM_FILE_NEW
		MENUITEM "&Open...\tCtrl+O", IDM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "&Save\tCtrl+S", IDM_FILE_SAVE
		MENUITEM "Save &As...", IDM_FILE_SAVEAS
		MENUITEM "&Revert", IDM_FILE_REVERT, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Page &Setup...", IDM_FILE_SETUP
		MENUITEM "&Print ...\tCtrl+P", IDM_FILE_PRINT
		MENUITEM SEPARATOR
		MENUITEM "&Quit Editor\tCtrl+Q", IDM_FILE_CLOSE
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\tCtrl+Z", IDM_EDIT_UNDO, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X", IDM_EDIT_CUT
		MENUITEM "&Copy\tCtrl+C", IDM_EDIT_COPY
		MENUITEM "&Paste\tCtrl+V", IDM_EDIT_PASTE, GRAYED
		MENUITEM "Clear", IDM_EDIT_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "&Balance\tCtrl+B", IDM_EDIT_BALANCE
		MENUITEM "C&omplete...\tCtrl+J", IDM_EDIT_COMPLETE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Set &Font...", IDM_EDIT_FONT
	END

	POPUP "&Buffer"
	BEGIN
		MENUITEM "&Find\tCtrl+F", IDM_BUFFER_FIND
		MENUITEM "&Replace\tCtrl+R", IDM_BUFFER_REPLACE
		MENUITEM SEPARATOR
		MENUITEM "&Load Selection\tCtrl+K", IDM_BUFFER_LOAD, GRAYED
		MENUITEM "&Batch Selection", IDM_BUFFER_BATCH, GRAYED
		MENUITEM "Load Buffer", IDM_BUFFER_LBUF
	END

	POPUP "\a&Help"
	BEGIN
		MENUITEM "&About the Editor...", IDM_ABOUT
		MENUITEM "CLIPS &Help ...", IDM_HELP_CLIPS
		MENUITEM SEPARATOR
		MENUITEM "&Balance\tCtrl+B", IDM_EDIT_BALANCE
		MENUITEM "&Command Complete...\tCtrl+J", IDM_EDIT_COMPLETE, GRAYED
	END

END

AboutBox DIALOG 22, 38, 100, 108
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About CLIPS Editor"
{
 CONTROL "OK", IDOK, "BUTTON", WS_GROUP, 34, 90, 32, 14
 ICON "Clips_text", -1, 42, 7, 16, 16, WS_CHILD | WS_VISIBLE
 CTEXT "CLIPS 6.10 Editor", -1, 29, 28, 42, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "7-1-98", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 60, 28, 8
}

AbortDlg DIALOG 20,20,90, 64
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "PrntFile"
BEGIN
   DefPushButton "Cancel"         IDCANCEL,   29, 44, 32, 14, WS_GROUP
   Ctext    "Sending",            -1,          0,  8, 90,  8
   Ctext    "text",               IDC_FILENAME, 0, 18, 90,  8
   Ctext    "to print spooler.",  -1,          0, 28, 90,  8
END

Clips_Text ICON IDE_CLP.ico


ClipsAcc ACCELERATORS 
BEGIN
	"^N", IDM_FILE_NEW
	"^O", IDM_FILE_OPEN
	"^S", IDM_FILE_SAVE
	"^P", IDM_FILE_PRINT
	"^Q", IDM_FILE_CLOSE
	"^X", IDM_EDIT_CUT
	"^C", IDM_EDIT_COPY
	"^V", IDM_EDIT_PASTE
	"^B", IDM_EDIT_BALANCE
	"^J", IDM_EDIT_COMPLETE
	"^F", IDM_BUFFER_FIND
	"^R", IDM_BUFFER_REPLACE
	"^K", IDM_BUFFER_LOAD, ASCII
END

