<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>
        <add name="ZzaDbContext" connectionString="server=.;database=Zza;trusted_connection=true" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <services>
            <service name="Zza.Services.ZzaService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:2112"/>
                    </baseAddresses>
                </host>
                <endpoint address="http://locahost:2112/Zza"
                          binding="basicHttpBinding"
                          contract="Zza.Services.IZzaService"/>
                <endpoint address="net.tcp://localhost:2113/Zza"
                          binding ="netTcpBinding"
                          contract="Zza.Services.IZzaService"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
                </binding>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
</configuration>