<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
    <connectionStrings>
        <add name="ZzaDbContext" connectionString="server=.;database=Zza;trusted_connection=true" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <services>
            <service name="Zza.Services.ZzaService">

                <endpoint binding="basicHttpBinding"
                          contract="Zza.Services.IZzaService"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>