<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService" />
                <binding name="WSHttpBinding_IProductService" />
                <binding name="WSHttpBinding_IOrderService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/CustomerService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICustomerService" contract="CustomerReference.ICustomerService"
                name="WSHttpBinding_ICustomerService">
                <identity>
                    <userPrincipalName value="DESKTOP-DU9A9JB\irina" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4321/ProductService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IProductService" contract="ProductReference.IProductService"
                name="WSHttpBinding_IProductService">
                <identity>
                    <userPrincipalName value="DESKTOP-DU9A9JB\irina" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4321/OrderService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOrderService" contract="OrderReference.IOrderService"
                name="WSHttpBinding_IOrderService">
                <identity>
                    <userPrincipalName value="DESKTOP-DU9A9JB\irina" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>